

html {
  font-size: 2.69vw;
}

.body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  position: relative;
  font-family: mytypeface, serif;
  margin: 0;
  padding: 0;
}

.content {
  position: relative;
  width: 100vw;
  height: 100vh;
  background: #fff;
  background-image: url(./img/newImg/bgi.png);
  background-repeat: no-repeat;
  background-position: left center;
  background-size: contain;
}

.exhibition-number {
  bottom: 3.08vh;
  right: 6.05vw;
  display: flex;
  justify-content: flex-end;
}

.exhibition-number a {
  font-size: 2.625rem;
  font-weight: bold;
  text-decoration: none;
  font-family: 'OpenSansBold';
  color: #bcbec0;
  transition: color .5s;
}

.exhibition-number :first-child {
  margin-right: 2.125rem;
}

@media screen and (max-width: 500px) {
  .exhibition-number {
    bottom: 8.08vh;
  }
}
@media screen and (max-width: 400px) {
  .exhibition-number {
    bottom: 12.08vh;
  }
}

@media screen and (min-height: 800px) and (max-height: 820px) {
  .exhibition-number {
    bottom: 19.08vh;
  }
}

.exhibition-2018:hover,
.exhibition-2018:active,
.exhibition-2018:focus {
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #2B3990;
}


.exhibition-2019:hover,
.exhibition-2019:active,
.exhibition-2019:focus {
  text-decoration-line: underline;
  text-transform: uppercase;
  color: #B44EC0;
}

.exhibition-number,
.text,
.top-line,
.logo-way {
  position: absolute;
}


.top-line {
  display: flex;
  align-items: center;
  top: 1.07vh;
  right: 5.12vw;
  z-index: 99;
}

.structure-logos {
  display: flex;
  align-items: center;
}

.structure-logos .logo-structure {
  margin-right: 2.02vw;
}

.ls-1 {
  width: 16.81vw;
  height: 3.87vw;
}

.ls-2 {
  width: 13.78vw;
  height: 3.87vw;
}

.ls-3 {
  width: 7.06vw;
  height: 6.72vw;
}

.ls-2.ls-c {
  transform: scale(0.965);
}

.ls-3.ls-c {
  transform: scale(0.75);
}

.ls-4 {
  width: 19.83vw;
  height: 3.19vw;
}

.logo object {
  width: 16.61vw;
  height: 16.22vw;
}

.logo-structure {
  position: relative;
}

.ls-1,
.ls-2,
.ls-3,
.ls-4 {
  display: none;
  cursor: pointer;
}

.ls-1-m,
.ls-2-m,
.ls-3-m,
.ls-4-m {
  display: block;
}

.logo-structure:hover .ls-m {
  display: none;
}

.logo-structure:hover .ls-c {
  display: block;
}

.text {
  max-width: 17rem;
  color: #bcbec0;
  z-index: 99;
  text-align: right;
  right: 4.87vw;
  top: 19.38vh;
  font-family: 'OpenSansBold';
  display: none;
}

.text.sm {
  display: block;
}

.text-title {
  font-size: 1.625rem;
  font-weight: bold;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 1.43vh;
}

.text-link {
  font-size: 1.625rem;
  width: 100%;
  display: block;
  color: #bcbec0;
  text-decoration: none;
  font-family: 'OpenSansRegular';
  margin-bottom: 1.66vh;
}

.text-link:hover {
  text-decoration: underline;
}

.logo-way {
  display: none;
}

@media (min-height: 541px) and (max-height: 768px) {
  html {
    font-size: 1.114vw;
  }

  .text {
    top: 35vh;
  }
}

@media (min-width: 981px) and (min-height: 768px) {
  html {
    font-size: 1.114vw;
  }

  .content {
    background-image: url(./img/newImg/bgi-lg.png);
    background-repeat: no-repeat;
    background-size: auto 100%;
    background-position: left center;
  }

  .logo.sm,
  .text.sm {
    display: none;
  }

  .contact-us {
    display: flex;
    justify-content: space-between;
  }

  .text {
    display: block;
    position: relative;
    max-width: 26.75rem;
    top: 2vw;
    right: 0;
  }

  .text-title {
    font-size: 1.325rem;
    margin-bottom: 0.83vh;
  }

  .text-link {
    font-size: 1.425rem;
    margin-bottom: 0.83vh;
  }

  .structure-logos {
    position: relative;
    top: 1.2rem;
    left: -0.9rem;
  }

  .ls-1 {
    width: 13.75vw;
    height: 3.19vw;
  }

  .ls-2 {
    width: 11.39vw;
    height: 3.26vw;
  }

  .ls-3 {
    width: 5.83vw;
    height: 5.49vw;
  }

  .ls-4 {
    width: 16.25vw;
    height: 2.71vw;
  }

  .exhibition-number :first-child {
    margin-right: 4.5rem;
  }

  .logo-way {
    display: block;
    z-index: 9;
  }

  .logo-rgb {
    left: -25px;
    top: -44px;
    position: relative;
    z-index: 9998;
    animation-duration: 2s;
    animation-name: drive-logo;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  .logo-text {
    left: 320px;
    top: 120px;
    position: absolute;
    z-index: 9999;
    opacity: 0;
    animation-duration: 2s;
    animation-name: drive-text;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
  }

  @keyframes drive-logo {
    from {
      left: -25px;
      top: -44px;
    }

    to {
      left: 51.94vw;
      top: -26.44vh;
      transform: scale(0.325);
    }
  }

  @keyframes drive-text {
    from {
      left: 320px;
      top: 120px;
    }

    to {
      left: 80.21vw;
      top: 30.1vh;
      opacity: 1;
    }
  }

  .exhibition-number {
    bottom: 5.58vh;
    right: 4.75vw;
  }

  .exhibition-number :first-child {
    margin-right: 5.5rem;
  }

  .exhibition-number a {
    font-size: 3.325rem;
  }
}


@media (min-width: 1200px) and (min-height: 800px) {

  @keyframes drive-logo {
    from {
      left: -25px;
      top: -44px;
    }

    to {
      left: 60.94vw;
      top: -15.44vh;
      transform: scale(0.325);
    }
  }

  @keyframes drive-text {
    from {
      left: 320px;
      top: 120px;
    }

    to {
      left: 83.21vw;
      top: 29.1vh;
      opacity: 1;
    }
  }
}


@media (min-width: 1800px) and (min-height: 768px) {

  @keyframes drive-text {
    from {
      left: 320px;
      top: 120px;
    }

    to {
      left: 80.21vw;
      top: 31.1vh;
      opacity: 1;
    }
  }
}

@media (width: 1024px) and (height: 1366px) {

  @keyframes drive-logo {
    from {
      left: -25px;
      top: -44px;
    }

    to {
      left: 47.94vw;
      top: -14.44vh;
      transform: scale(0.325);
    }
  }

  @keyframes drive-text {
    from {
      left: 320px;
      top: 120px;
    }

    to {
      left: 81.21vw;
      top: 19.1vh;
      opacity: 1;
    }
  }

}